// TEMP. Only used for Personal Logo Signature. Replace with SVG
@font-face {
  font-family: "MarckScript";
  src: url("../assets/fonts/MarckScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowCondensed";
  src: url("../assets/fonts/BarlowCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowCondensed";
  font-weight: 300;
  src: url("../assets/fonts/BarlowCondensed-Thin.ttf") format("truetype");
}