@font-face {
  font-family: "BarlowCondensed";
  src: url("/fonts/BarlowCondensed-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "BarlowCondensed";
  font-weight: 300;
  src: url("/fonts/BarlowCondensed-Thin.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MarckScript";
  src: url("/fonts/MarckScript-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 200;
  src: url("/fonts/Roboto/Roboto-ExtraLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src: url("/fonts/Roboto/Roboto-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 800;
  src: url("/fonts/Roboto/Roboto-ExtraBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 200;
  src: url("/fonts/Rubik/static/Rubik-ExtraLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 300;
  src: url("/fonts/Rubik/static/Rubik-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("/fonts/Rubik/static/Rubik-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: url("/fonts/Rubik/static/Rubik-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 600;
  src: url("/fonts/Rubik/static/Rubik-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: url("/fonts/Rubik/static/Rubik-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 800;
  src: url("/fonts/Rubik/static/Rubik-ExtraBold.ttf") format("truetype");
  font-display: swap;
}