/****** Elad Shechter's RESET *******/
/** @see https://elad.medium.com/normalize-css-or-css-reset-9d75175c5d1e */
/*** box sizing border-box for all elements ***/

// not needed because theme-ui adds border-box to all elements
// *,
// *::before,
// *::after{
//   box-sizing: border-box;
// }

a {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer;
}

button {
  background-color: transparent; 
  color: inherit; 
  border-width: 0; 
  padding: 0; 
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0; 
  padding: 0; 
  margin: 0;
}

ul, ol, dd {
  margin: 0; 
  padding: 0; 
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; 
  font-size: inherit; 
  font-weight: inherit;
}

p {
  margin: 0;
}

cite  {
  font-style: normal;
}

fieldset {
  border-width: 0; 
  padding: 0; 
  margin: 0;
}


// Additional resets

html,
body {
   padding: 0;
   margin: 0;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}